div {
    border: 1px solid gray;
    box-sizing: border-box;
}

/* 전체를 감싸는 영역 : wrap */
.wrap {
    width: 1000px;
    height: 800px;
    min-height: 500px;
    min-width: 800px;
    /*고정값보다는 비율로 최소(min-)/최대(max-) 크기 설정*/
    margin: auto;
    /*margin: auto 양옆의 간격을 일정하게 해줘서 중앙에 배치*/
}

.wrap>div {
    width: 100%;
}

/*#header, #content, #footer{} 위의 코드와 동일한 코드*/
#header,
#footer {
    height: 20%;
}

#content {
    height: 60%;
}

/*컨텐츠 영역 내의 요소 배치*/
#content>div {
    height: 100%;
    float: left;
}

/*float:left; 또는 부모 요소인 #content에 display:flex; 값 주기*/
#content1,
#content3 {
    width: 200px;
}

#content2 {
    width: calc(100% - 400px);
}

/*푸터*/
#footer{
    width: 1000px; height: 200px;

}
#footer > div{
    padding-left: 50px; width: 100%;
    
}
#footer1{
    height: 20%; 
    width: 100%;
    background-color: lightcyan;
}
#footer1 > a{
    text-decoration: none;
    color: #2c2c2c;
    font-size: 14px;
    cursor:pointer;
    vertical-align: middle;
    font-weight: bold;
}
#footer1 > a:hover{
    color:red;
}
#footer2 .p1{
    font-size: 12px;
    box-sizing:border-box;
    height: 80%;
}
.small{
    color: #2c2c2c;
    font-size: x-small;
    box-sizing:border-box;
}
.p2{
    color: #2c2c2c;
    font-size: smaller;
}

/*로그인 폼*/
.login-form{
    width: 100%; /*body=300px*/
    height: 30%;
}
.login-form > *{ /*.login-form > *{} 동일함*/
    width: 100%;
}
.login-form > form{height: 80%;
display: flex;}
.login-form > #login-link-area{
    height: 20%; text-align: center;
}
#user-info { width: 65%;
}
#btn-area{width: 35%;}
#user-info > input{
    width: 100%; height: 50%; box-sizing: border-box;
}
#login-link-area > a{
    text-decoration: none;
    color: black;
    font-size:14px;
    margin: 10px;
}
#btn-area > button{
    width:100%; height:100%; background-color: coral;
}

/*검색창*/
input{box-sizing: border-box;}

#header{
    position:relative;
}
#search-form{
    width: 80%; height: 20%;
    margin: auto;
    display: flex;

    position:absolute;
    top: 0; bottom:0;
    left: 0; right:0;
    /*position 사용하면 margin:auto (need)| 상하좌우 모두 0으로 하면 정중앙에 배치가능*/
}
#search-form > input{height: 100%; }
#search-form > input:nth-child(1){width: 80%;}
#search-form > input:nth-child(2){width: 20%;}

/*메뉴바 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

#navigator {
    width: 80%;
    height: 40px;
}

#nav {
    height: 100%;
    display: flex;
}

#nav>li {
    width: 120px;
    height: 100%;
    text-align: center;
}

#nav a {
    font-size: 18px;
    font-weight: 900;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 35px;
    /*줄 간격 조절 속성*/
}
#nav li ul {display:none;}

#nav a:hover{
    color:darksalmon;
    scale:1.08;
}
#nav > li > a:hover + ul{
    display: block;
}
#nav > li > ul:hover {
    display: block;
}