@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #151515;
}
.pageSection-about{
    width: 100%;
    height: 915px;
    padding-top: 90px;
    background-color: #C0D2E3;
}
.pageSection-project{
    width: 100%;
    height: 915px;
    padding-top: 90px;
    background-color: #FFFFF2;
}
.pageSection-skill{
    width: 100%;
    height: 915px;
    padding-top: 90px;
    display: flex;
    position: relative;
    background-color: #C0D2E3;
}

.pageSection-main{
    width: 100%;
    height: 934px;
    background-color:#465869 ;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #465869;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 65px;
    z-index: 1000;
    position: fixed;
}

.header-logo h1 {
    font-size: 45px;
    font-weight: bold;
}

.header-nav ul {
    display: flex;
}

.header-nav ul li {
    margin: 0px 15px;
}

.header-nav ul li a {
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-nav ul li a:hover {
    color: #5c9bcf;
}
#mainText1{
    font-size: 60px;
    padding-top: 160px;
    padding-left: 80px;
    line-height: 65px;
}
#mainText2{
    font-size: 18px;
    padding-left: 80px;
}

#mainContainer{
    position: absolute;
    width: 650px;
    height: 550px;
    background-color: #ffffff;
    margin-top: 150px;
    margin-left: 200px;
}
#text-title{
    font-size: 40px;
    display: inline;
    position: relative;
    left: 50%;
    top: -20%;
    font-family: 'Playfair Display';
}
#text-p{
    font-size: 24px;
    font-family: 'MaruBuri';
    font-weight: 900;
    padding-left: 15%;
    display: flex;
    position: relative;
    bottom: 15px;
}
#image-container{
    width: 480px; height: 480px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 3px 3px 20px #5e5e5e;
}
#imageofme{
    padding-top: 7.5%;
    align-items: center;
}
#text-container{
    width: 650px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2.5px solid darkgray;
    box-shadow: 3px 3px 20px #5e5e5e;
}

.about-content{
    display: flex;
    align-items: center;
    margin-top: 10%;
    justify-content: space-evenly;
}
#about-title{
    font-size: 60px;

}
.project-cards{
    display: flex;
    position: absolute;
    gap: 95px;
    margin-left: 14%;
}
.project-card{
    width: 400px; 
    height:450px;
    background-color: #E5E4E4;
}
.project-title{
    width: 400px;
    height: 90px;
    top: 100%;
    text-align: center;
    padding-top: 8%;
    position: relative;
    background-color: white;
}
.project-p{
    width: 400px; 
    height:350px;
    display:grid;
    /*visibility: hidden;*/
    background-color: #1515153b;
    position: relative;
    top: -9%;
    text-align: center;
    padding-top: 30%;
    text-wrap-style: balance;
    z-index: 100;
}
.project-card, .project-title{
    box-shadow: 3px 3px 10px #5e5e5e;
}
.project-card p:hover{
    visibility:visible;
}
.project-veiw{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 40px;
    align-items: center;
    margin-left: 50px;
    margin-top: 18%;
    font-size: 24px;
    background-color: #0000005c;
}
.project-veiw-1{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 40px;
    align-items: center;
    margin-left: 50px;
    margin-top: 10%;
    font-size: 24px;
    background-color: #0000005c;
}

#footer{
    background-color: #E4E3E3;
    height: 100px;
}